body{
	font-family: sans-serif;
	background: #ffffff;
}

h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 700;
	font-size: 40px;
}

/* ===========NAVBAR============ */
.navbar {
	position: sticky;
	z-index: 1000;
	top: 0;
}
.custom-navbar {
    background-color: white; /* Set your desired background color */
    padding: 10px; /* Add padding to the navbar */
	position: sticky;
}

.navbar-nav .nav-item {
    margin-right: 15px; /* Adjust the margin to create space between items */
}

.navbar-brand {
    padding-right: 15px; /* Add padding to the right of the logo */
}

.navbar-nav .nav-item .nav-link.active {
    color: #fff; /* Set the text color for active links */
    background-color: #2980b9; /* Set the background color for active links */
}
/* #search {
	position: relative;
	left: 700px;
} */




/*========================= page home =============*/
.gbr-pageHome {
	width: 380px;
	height: auto;
	position: relative;
	left: 700px;
	bottom: 230px;
}
.flex-item-left {
	width: 40%; /* Atur lebar sesuai kebutuhan Anda */
	position: relative;
	left: 100px;
	top: 100px;
}
.teks_home {
	text-align: justify;
}
.title_home {
	font-size: 30px;
	text-align: left;
}
/* ------ */
.img-fluid {
	height: auto;
	width: 500px;
	margin-left: 100px; 
	position: relative;
	bottom: 270px;
	border-radius: 20px;
}
.title2 {
	text-align: center;
	position: relative;
	bottom: 100px;
}

.dokumentasi_teks {
	width: 40%; /* Atur lebar sesuai kebutuhan Anda */
	position: relative;
	left: 700px;
	bottom: 50px;
	text-align: justify;
}
.title_home2 {
	font-size: 30px;
	text-align: right;
	text-align: justify;
}

/* --------------footer-------- */
footer {
	background-color: green; /* Warna latar belakang hijau */
	color: white; /* Warna teks putih */
	text-align: center; /* Posisikan teks di tengah */
	padding: 20px; /* Atur sesuai kebutuhan padding */
	margin-top: auto; /* Footer akan berada di bagian bawah halaman */
}
/* ================================ */

.tulisan_login{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}

.kotak_login{
	width: 350px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
	box-shadow: 0px 0px 100px 4px #d6d6d6;
}

.logo {
	position: relative;
	bottom: 100px;
	right: 1000px;
}
label{
	font-size: 11pt;
}

.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}

.tombol_login{
	background: #2aa7e2;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}

.alert{
	background: #e44e4e;
	color: white;
	padding: 10px;
	text-align: center;
	border:1px solid #b32929;
	position: relative;
	
}
.login_btn {
	position: relative;
	right: 40px;
	
}
.custom-btn-lg {
	font-size: 15px; /* Sesuaikan dengan ukuran yang diinginkan */
	padding: 10px 40px; /* Sesuaikan dengan ukuran yang diinginkan */
	
}


/* =============ABOUT============= */
.logoAbout {
	position: absolute;
  top: 40%;
  left: 50%;
}
.teks_about {
	text-align: justify;
	width: 40%;
	position: relative;
	top: 100px;
	left: 40px;
}

.card1 {
	position: relative;
	top: 170px;
	left: 40px;
}
.card2 {
	position: relative;
	bottom: 90px;
	left: 500px;
}
.card3 {
	position: relative;
	bottom: 330px;
	left: 900px;
}


/* ==========halaman admin=============== */



